/**
 * Filters visibility extension default style
 */

@import '../config'

// container
span.expClpFlt
    a.btnExpClpFlt
        width                   $min-width
        height                  $min-height
        display                 inline-block

        &:hover
            background-color    $toolbar-hover-color

    img
        padding                 8px 11px 11px 11px
