---
title: Examples
heading: 'Examples'
navbar: 'true'
---

<h1>{{heading}}</h1>

<p>
    Browse the following examples to see <code>TableFilter</code> in action.
    This library takes HTML tables to a whole new level :)
</p>

{{#each pages}}
  {{#is data.section "examples"}}
    <li>
        <a href="{{relative dest this.dest}}">{{data.title}}</a>
    </li>
  {{/is}}
{{/each}}
