---
title: Home
heading: 'TableFilter'
posts: ['README.md']
navbar: 'true'
---
<!--
<div class="jumbotron">
  <h1>{{ heading }}</h1>
  <p>
    A Javascript library making HTML tables filterable and a bit more :)
  </p>
  <p>
    <a href="blog.html" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
  </p>
</div>
-->

{{#each posts}}
  {{md this}}
{{/each}}
