---
title: Zero configuration
heading: 'Zero configuration'
section: 'examples'
---

<h1>{{ heading }}</h1>
<p>
    With no configuration, <code>TableFilter</code> adds by default a text-box
    filter to each column.
</p>

{{> countries-table-tiny }}

{{> tablefilter-script }}

<script data-config>
    var tf = new TableFilter('demo');
    tf.init();
</script>

<p>
    {{> pre-inline-script }}
</p>

<div class="alert alert-warning" role="alert">
    It is recommended to always define the <code>base_path</code> setting in
    the configuration object. If not specified, the script will default to
    <code>tablefilter/</code> directory:
    <pre>
your-page.html
    |— tablefilter
    </pre>
</div>
