/** 
 *	 tablefilter v0.5.7 by Max Guglielmi 
 *	 build date: 2017-04-15T07:04:04.221Z 
 *	 MIT License  
 */ 
span.expClpFlt a.btnExpClpFlt{width:35px;height:35px;display:inline-block;}span.expClpFlt a.btnExpClpFlt:hover{background-color:#f4f4f4}span.expClpFlt img{padding:8px 11px 11px 11px}