/** 
 *	 tablefilter v0.5.41 by Max Guglielmi 
 *	 build date: 2017-09-13T19:41:41.343Z 
 *	 MIT License  
 */ 
span.expClpFlt a.btnExpClpFlt{width:35px;height:35px;display:inline-block;}span.expClpFlt a.btnExpClpFlt:hover{background-color:#f4f4f4}span.expClpFlt img{padding:8px 11px 11px 11px}