/** 
 *	 tablefilter v0.6.17 by Max Guglielmi 
 *	 build date: 2018-02-04T11:16:54.996Z 
 *	 MIT License  
 */ 
span.expClpFlt a.btnExpClpFlt{width:35px;height:35px;display:inline-block;}span.expClpFlt a.btnExpClpFlt:hover{background-color:#f4f4f4}span.expClpFlt img{padding:8px 11px 11px 11px}