/** 
 *	 tablefilter v0.2.15 by Max Guglielmi 
 *	 build date: 2016-04-28T04:17:38.956Z 
 *	 MIT License  
 */ 
span.expClpFlt a.btnExpClpFlt{width:35px;height:35px;display:inline-block;}span.expClpFlt a.btnExpClpFlt:hover{background-color:#f4f4f4}span.expClpFlt img{padding:8px 11px 11px 11px}