/** 
 *	 tablefilter v0.2.4 by Max Guglielmi 
 *	 build date: 2016-03-26T21:54:03.544Z 
 *	 MIT License  
 */ 
span.expClpFlt a.btnExpClpFlt{width:35px;height:35px;display:inline-block;}span.expClpFlt a.btnExpClpFlt:hover{background-color:#f4f4f4}span.expClpFlt img{padding:8px 11px 11px 11px}