/** 
 *	 tablefilter v0.2.52 by Max Guglielmi 
 *	 build date: 2016-08-08T09:17:26.168Z 
 *	 MIT License  
 */ 
span.expClpFlt a.btnExpClpFlt{width:35px;height:35px;display:inline-block;}span.expClpFlt a.btnExpClpFlt:hover{background-color:#f4f4f4}span.expClpFlt img{padding:8px 11px 11px 11px}