/** 
 *	 tablefilter v0.4.29 by Max Guglielmi 
 *	 build date: 2017-01-01T11:24:20.225Z 
 *	 MIT License  
 */ 
span.expClpFlt a.btnExpClpFlt{width:35px;height:35px;display:inline-block;}span.expClpFlt a.btnExpClpFlt:hover{background-color:#f4f4f4}span.expClpFlt img{padding:8px 11px 11px 11px}