<link rel="stylesheet" type="text/css" href="../dist/tablefilter/style/tablefilter.css">
<style type="text/css">
    body{
        font-family: Helvetica, arial, nimbussansl, liberationsans, freesans,
            clean, sans-serif;
        padding: 0 1em;
    }
    pre{
        margin: auto 1em 1em 1em;
        padding: 0 1em 1em 1em;
        float: right;
        line-height: 1.45;
        background-color: #F7F7F7;
        border-radius: 3px;
    }
    .panel{
        float: left;
        background: #F7F7F7 none repeat scroll 0% 0%;
        width: 250px;
        margin-right: 2em;
        padding: 1em;
    }
</style>