/**
 * Filtered column marker default style
 */

.activeHeader
    background-color        #66AFE9 !important
    color                   #fff !important

.activeCell
    background-color        rgba(0,0,0,0.075)
