/**
 * Global variables
 */

// table
$border-color-0 =                       #FFF
$border-color-1 =                       #CCC
$border-color-2 =                       #D0D0D0
$padding =                              5px

// header cell
$th-bg-color =                          #EBECEE
$th-padding =                           5px
$th-font-color =                        #333

// filter
$filter-bg-color =                      #fff
$filter-border-color =                  #ccc

// toolbar container (.inf)
$toolbar-bg-color =                     #f4f4f4
$toolbar-font-size =                    12px
$toolbar-border-color =                 #ccc

// paging
$paging-nav-button-bg-color-hover =     #CAD1D6

// grid layout
$grid-layout-bg-color =                 #C8E0FB
$grid-layout-border-color =             #99BBE8
