/**
 * Global variables
 */

// table
$font-family =                          inherit
$padding =                              0.5em 0.7em
$min-width =                            35px
$min-height =                           35px

// header cell
$th-height =                            35px
$th-bg-color =                          #EAEAEA
$th-padding =                           5px
$th-font-color =                        #333
$th-bottom-border-color =               #CCC
$th-top-border-color =                  #F4F4F4
$th-left-border-color =                 #CCC
$th-right-border-color =                #F4F4F4

// cell
$td-border-color =                      #C6C6C6

// filters
$filter-font-color =                    #444
$filter-row-bg-color =                  #EAEAEA
$filter-bg-color =                      #FFF
$filter-border-color =                  #F4F4F4
$filter-height =                        35px

// toolbar container (.inf)
$toolbar-bg-color =                     #FFF
$toolbar-font-size =                    inherit
$toolbar-border-color =                 #CCC
$toolbar-divider-color =                #F4F4F4
$toolbar-hover-color =                  #F4F4F4

// paging
$paging-nav-button-bg-color-hover =     #F4F4F4

// grid layout
$grid-layout-bg-color =                 #C8E0FB
$grid-layout-border-color =             #99BBE8

