/**
 * Help box default style
 */

@import 'config'
@import 'mixins/arrow'
@import 'mixins/box-shadow'

// help button
.helpBtn
    display                 inline-block
    margin                  0
    padding                 10px 15px 10px 15px
    border-left             1px solid #ccc
    border-right            1px solid #ccc

    &:hover
        background-color    #F4F4F4
        border-radius       3px

// help container
div.helpCont
    arrow(top, 10px white, 2px #ccc)
    box-shadow(3px 3px 2px #888)
    position            absolute
    display             none
    width               250px
    max-width           300px
    overflow            auto
    padding             10px
    margin              35px 0 0 -100px
    border              1px solid #CCC
    line-height         20px
    font-size           12px
    color               #333
    background          #fff
    text-align          left

    a
        color           #cc0000
        text-decoration underline;
        font-weight     normal

    a.close
        color           #333
        text-decoration none
        font-weight     bold

        &:hover
            text-decoration none

    hr
        border          1px solid #ccc

div.helpFooter
    margin              10px 0 0 0
    h4
        margin          2px 2px 2px 2px
        font-size       13px
        color           #333
