/**
 * Loading message default style
 */

.loader
    position            absolute
    padding             0.5em 0.7em
    margin              10em 0 0 3em
    width               auto
    z-index             1000
    font-weight         600
    background-color    #A7A7A8
    vertical-align      middle
    border-radius       10px
    color               #FFF
    text-shadow         1px 1px #333
