/**
 * Loading message default style
 */

.loader
    position            absolute
    padding             5px 10px 5px 10px
    margin              20px 0 0 20px
    width               auto
    z-index             1000
    font-size           12px
    font-weight         bold
    border              1px solid #666
    background-color    #f4f4f4
    vertical-align      middle
