/**
 * No results message style
 */

@import 'config'

.no-results
    position                    absolute
    font-weight                 600
    color                       $th-font-color
    margin                      0
    padding                     1em 0
    text-align                  center
    max-height                  5em
    background-color            #F4F4F4
