/**
 * Reset button default style
 */

@import 'config'

input.reset
    display                 inline-block
    width                   $min-width
    height                  100%
    border                  0
    background:             transparent url(themes/btn_clear_filters.png) center center no-repeat
    vertical-align          top

    &:hover
        background-color    #F4F4F4
        border-radius       3px
