/**
 * Reset button default style
 */

@import 'config'

input.reset
    display                 inline-block
    width                   $min-width
    height                  $min-height
    border                  0
    background:             transparent url(themes/btn_clear_filters.png) center center no-repeat
    vertical-align          top

    &:hover
        background-color    $toolbar-hover-color
