/**
 * Rows counter default style
 */

div.tot
    float               left
    overflow            hidden
    width               150px
    height              15px
    border-right        1px solid #ccc
    margin              0 5px 0 2px
    padding             0 2px 0 2px

    span
        font-weight     bold
