/**
 * Rows counter default style
 */

@import 'config'

div.tot
    float               left
    overflow            hidden
    min-width           150px
    height              100%
    margin              0
    padding             0.5em
    vertical-align      middle

    span
        font-weight     500
