/**
 * Sorting elements default style
 */

.sort-arrow
    width                   11px
    height                  11px
    margin                  0 2px
    background-position     center center;
    background-repeat       no-repeat

&.descending
    background-image    url("themes/downsimple.png")

&.ascending
    background-image    url("themes/upsimple.png")
