/**
 * Status bar default style
 */

@import 'config'

div.status
    float               left
    overflow            hidden
    min-width           120px
    height              100%
    margin              0
    padding             0.5em

    span
        font-size       inherit
