/**
 * Status bar default style
 */

@import 'config'

div.status
    float               left
    overflow            hidden
    width               150px
    height              100%
    border-right        1px solid $toolbar-divider-color
    margin              0
    padding             0.5em

    span
        font-weight     400
        font-size       inherit
