/**
 * Table's default style
 */

 @import 'config'

table.TF
    border-spacing  0
    border-top      1px solid $border-color-2
    border-left     1px solid $border-color-2
    border-bottom   1px solid $border-color-1
    border-right    1px solid $border-color-1

    th
        margin              0
        background-color    $th-bg-color
        border-bottom       1px solid $border-color-2
        border-right        1px solid $border-color-2
        border-left         1px solid $border-color-0
        border-top          1px solid $border-color-0
        padding             $padding
        color               $th-font-color

    td
        margin          0
        padding         $padding
        border-bottom   1px solid $border-color-2
        border-right    1px solid $border-color-2
