<!DOCTYPE html>
<html lang="en">
<head>
    <title>{NAME} v{VERSION} - Development workflow with RequireJs</title>
    <!-- @import partials/style.html -->
</head>
<body>
<h1>{NAME} v{VERSION}</h1>
<h2>Development workflow with RequireJs</h2>
<p>
    To take advantage of the RequireJs development workflow use the
    <code>grunt dev-modules</code> command.
</p>
<p>
    If you use extensions, you will need to specify the extensions path as per
    configuration example. Sorting feature also requires the third-party
    <code>../libs/sortabletable</code> dependency to be imported.
</p>

<!-- @import partials/pre.html -->

<!-- @import partials/countries-by-continent.html -->

<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js"></script>
<script data-config>
requirejs(
    ['../dist/tablefilter/tablefilter', '../libs/sortabletable'],
    function(mod){
        var TableFilter = mod.TableFilter;
        var tfConfig = {
            base_path: '../dist/tablefilter/',
            col_1: 'multiple',
            col_2: 'checklist',
            alternate_rows: true,
            rows_counter: true,
            enable_default_theme: true,
            col_widths: [
                '70px', '170px', '170px',
                '110px', '90px', '250px'
            ],
            extensions:[
                {
                    name: 'sort',
                    path: '../dist/tablefilter/extensions/sort/',
                    types: [
                        'number', 'string', 'string',
                        'US', 'none', 'string'
                    ]
                },
                {
                    name: 'colsVisibility',
                    path: '../dist/tablefilter/extensions/colsVisibility/'
                },
                {
                    name: 'filtersVisibility',
                    path: '../dist/tablefilter/extensions/filtersVisibility/'
                }
            ]
        };

        tf = new TableFilter('demo', tfConfig);
        tf.init();
    }
);
</script>

<!-- @import partials/pre-inline-script.html -->
</body>
</html>
