/**
 * transparent theme overrides
 */

 @import '../../mixins/box-shadow'

// table
table.TF
    padding                     0
    color                       inherit
    border-right                1px solid transparent
    border-top                  1px solid transparent
    border-left                 1px solid transparent
    border-bottom               0

    th
        margin                  0
        color                   inherit
        background-color        transparent
        border-color            transparent
        border-width            1px
        border-style            solid
        &:last-child
            border-right        1px solid transparent

    td
        margin                  0
        padding                 5px
        color                   inherit
        border-bottom           1px solid transparent
        border-left             0
        border-top              0
        border-right            0

// filters
.fltrow
    background-color            transparent

    th, td
        padding                 1px 3px 1px 3px
        border-bottom           1px solid transparent !important
        &:last-child
            border-right        1px solid transparent

.flt,
select.flt,
select.flt_multi,
.flt_s,
.single_flt,
.div_checklist
    border                      1px solid #A4BED4

input.flt
    width                       99% !important

// toolbar
.inf
    background-color            transparent
    border                      1px solid transparent
    height                      $min-height
    color                       inherit

div.tot,
div.status
    border-right                0 !important

// help
.helpBtn
    &:hover
        background-color        transparent

// reset button
input.reset
    background                  transparent url(images/icn_clear_filters.png) center center no-repeat !important

.nextPage
    background                  transparent url(images/btn_next_page.gif) center center no-repeat !important
    border                      1px solid transparent !important

    &:hover
        background              #F7F7F7 url(images/btn_next_page.gif) center center no-repeat !important
        border                  1px solid #F7F7F7 !important

.previousPage
    background                  transparent url(images/btn_prev_page.gif) center center no-repeat !important
    border                      1px solid transparent !important

    &:hover
        background              #F7F7F7 url(images/btn_prev_page.gif) center center no-repeat !important
        border                  1px solid #F7F7F7 !important

.firstPage
    background                  transparent url(images/btn_first_page.gif) center center no-repeat !important
    border                      1px solid transparent !important

    &:hover
        background              #F7F7F7 url(images/btn_first_page.gif) center center no-repeat !important
        border                  1px solid #F7F7F7 !important

.lastPage
    background                  transparent url(images/btn_last_page.gif) center center no-repeat !important
    border                      1px solid transparent !important

    &:hover
        background              #F7F7F7 url(images/btn_last_page.gif) center center no-repeat !important
        border                  1px solid #F7F7F7 !important

// active header
.activeHeader
    background                  #F7F7F7 !important
    border                      1px solid transparent
    color                       inherit !important

// grid-layout

// main container
div.grd_Cont
    box-shadow(0 0 0 0 rgba(50, 50, 50, 0.75))
    background-color            transparent
    border                      1px solid transparent
    padding                     0 !important

    // alternating background colors
    .even
        background-color        transparent

    .odd
        background-color        #F7F7F7

// headers' table container
div.grd_headTblCont
    background-color            transparent
    border-bottom               none !important


div.grd_tblCont table
    border-right                none !important

// headers
div.grd_tblCont table th,
div.grd_headTblCont table th,
div.grd_headTblCont table td
    background                  transparent
    border-bottom               1px solid transparent
    border-right                1px solid transparent !important
    border-left                 1px solid transparent
    border-top                  1px solid transparent

div.grd_tblCont table td
    border-bottom               1px solid transparent
    border-right                0 !important
    border-left                 0 !important
    border-top                  0 !important

// toolbar containing left, middle and right divs
.grd_inf
    background-color            transparent
    color                       inherit
    border-top                  1px solid transparent

    a
        text-decoration         none
        font-weight             bold

// loader
.loader
    background-color            #F7F7F7
    border                      1px solid #F7F7F7
    border-radius               5px
    color                       #000000
    text-shadow                 none

// alternating background colors
.even
    background-color            transparent

.odd
    background-color            #F7F7F7

// filters visibility
span.expClpFlt
    a.btnExpClpFlt
        &:hover
            background-color    transparent !important

// ezedittable

// selection
.ezActiveRow
    background-color            #CCCCCC !important
    color                       inherit

.ezSelectedRow
    background-color            #CCCCCC !important
    color                       inherit

.ezActiveCell
    background-color            transparent
    color                       inherit
    font-weight                 bold

.ezETSelectedCell
    background-color            transparent
    font-weight                 bold
    color                       inherit
